    .local-video {
      width: 165px;
      height: 165px;
    }

    .remote-video {
      width: 320px;
      height: 240px;
    }

    @media (min-width: 992px) {
      .remote-video {
        width: 640px;
        height: 480px;
      }
    }

    .chat-timeline {
      height: 200px;
      font-size: 9px;
      overflow: auto;
    }

    .chat-timeline .local {
      color: blue;
    }

    .chat-timeline .remote {
      color: red;
    }