html{
    background-color: #f3f3f3;
}

.width-limiter,
.header-limiter,
.footer-limiter{
	max-width: 1200px;
	margin: 0 auto;
}

p{
	margin: 0;
}

.col-centered{
    float: none;
    margin: 0 auto;
}